{% extends "layout.njk" %} 
{% set pageTitle = 'Home' %}
{% block head %}
<title>{{ pageTitle}} | {{ siteName }}</title>
{% endblock %} 

{% block content %}
<main>

<h1>Hello World</h1>
<p>This is only a test.</p>
<p class="lead">Truly a test.</p>

</main>
{% endblock %}