{% set siteName = "New Website" %}
{% set includePath = "includes/" %}
{% import "macros.njk" as macros %}
{% import "variables.njk" as var %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/meta.njk" %}
    {% block head %}{% endblock %}
    {% include "partials/head.njk" %}
</head>

<body>
    <div id="top" class="sr-only">Top of page</div>
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>

    {% include "partials/global/header.njk" %}

    <div id="main" class="sr-only">Main content</div>

    {% block content %}{% endblock %}

    <a href="#main" class="sr-only sr-only-focusable">Back to main content</a>
    <a href="#top" class="sr-only sr-only-focusable">Back to top</a>
    
    {% include "partials/global/footer.njk" %}
    {% include "partials/js.njk" %}
</body>

</html>