{# Placeholder image #}
{% macro img(
    imgSize, 
    imgClass, 
    imgColor='0d7cba', 
    imgTextColor='ffffff') %}
<img src="https://placehold.it/{{ imgSize }}/{{ imgColor }}/{{ imgTextColor }}" alt="{{ imgSize }} placeholder" class="{{ imgClass }}" />
{% endmacro %}