{# WYSIWYG #}
{% set sentenceXS = "Continually seize optimal e-commerce via equity." %}
{% set sentenceSM = "Dramatically expedite resource-leveling bandwidth with corporate results. Synergistically transition e-tailers." %}
{% set sentenceMD = "Quickly optimize enabled process improvements for an expanded array of manufactured products. Compellingly incubate market-driven services and resource-leveling scenarios. Intrinsicly." %}
{% set sentenceLG = "Efficiently simplify unique platforms before best-of-breed processes. Authoritatively orchestrate ethical methodologies with customized value. Objectively leverage other's technically sound e-commerce through efficient markets. Seamlessly benchmark clicks-and-mortar best practices via open-source." %}

{% set sentenceXSlinks = "Continually seize <a href='#'>optimal e-commerce</a> via equity." %}
{% set sentenceSMlinks = "Dramatically expedite <a href='#'>resource-leveling</a> bandwidth with <a href='#'>corporate</a> results. Synergistically transition e-tailers." %}
{% set sentenceMDlinks = "Quickly optimize enabled process improvements for an <a href='#'>expanded array</a> of manufactured products. Compellingly incubate market-driven <a href='#'>services</a> and resource-leveling scenarios. Intrinsicly." %}
{% set sentenceLGlinks = "Efficiently simplify unique platforms <a href='#'>before best-of-breed processes</a>. Authoritatively orchestrate ethical methodologies with customized value. Objectively leverage other's technically sound e-commerce through efficient markets. Seamlessly benchmark clicks-and-mortar <a href='#'>best practices</a> via open-source." %}