<blockquote>
    <p>"Proactively leverage existing ethical ideas for cross-unit technologies. Proactively evisculate standards compliant sources with multifunctional metrics. Distinctively coordinate web-enabled platforms and turnkey applications. Conveniently envisioneer equity invested internal."</p>
    <p>- John Smith, April 14 2018</p>
</blockquote>