/* 
 * Styles specific to Cascade WYSIWYG areas
*/

.wysiwyg {
    h1 {
        @include heading;
    }
    h2,h3,h4,h5,h6 {
        @include subheading;
    }
    blockquote {
        font-style: italic;
        margin-bottom: 1rem;
        margin-left: calc( #{$grid-gutter-width} /2 );
        padding-left: calc( (#{$grid-gutter-width} /2) - 3px );
        border-left: 3px solid $gray-200;
    }
    strong,
    b {
        font-weight: 700;
    }
    a {
        text-decoration: underline; // Accessibility
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}