{##########################################
EXTERNAL LIBRARIES / CDN
Place links to externally hosted
CSS libraries below.
##########################################}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

{##########################################
PRIMARY SITE STYLESHEET
This stylesheet is a combination of all
locally imported SCSS files.
##########################################}
<link href="{{ includePath }}css/site.css" rel="stylesheet">