<!-- jQuery -->
<script 
src="{{ includePath }}js/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Components -->
<script src="{{ includePath }}js/vendor/bootstrap/util.js"></script>

<!-- Site Js -->
<script src="{{ includePath }}js/site.js"></script>