<!-- jQuery -->
<script src="{{ includePath }}js/vendor/jquery/jquery.min.js"></script>

<!--  
#########################################
BOOTSTRAP COMPONENETS
Include only the JS components needed
for the website to function
#########################################
-->
<script src="{{ includePath }}js/vendor/bootstrap/util.js"></script>

<!--  
#########################################
PRIMARY SITE JAVASCRIPT
This javascript is a combination of all
locally imported JS files.
#########################################
-->
<script src="{{ includePath }}js/site.js"></script>